<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>veCATor:Batch convert images into svg</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.knob.min.js"></script>
</head>
<body>
    <header>
        <div class="logo">
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg width="60" height="60" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,-1057.26,-1239.73)">
        <g id="画板1" transform="matrix(1,0,0,1,-16.741,1239.73)">
            <rect x="1074" y="0" width="1024" height="1024" style="fill:none;"/>
            <g>
                <g transform="matrix(1.47433,0,0,1.47433,-724.686,-2140.01)">
                    <path d="M1561.26,1683.73L1635.1,1915.45L1561.26,2103.73L1241.7,1871.56L1363.76,1495.9L1364.5,1495.9L1472.95,1683.73L1561.26,1683.73Z" style="fill:rgb(75,4,116);"/>
                </g>
                <g transform="matrix(1,0,0,1,16.741,-1239.73)">
                    <path d="M1990.32,1854.43C1990.3,1854.89 1990.29,1855.35 1990.29,1855.81C1990.29,1860.23 1991.26,1864.41 1993,1868.17L1560.39,1952.68L1560.39,1938.42L1990.32,1854.43Z" style="fill:rgb(75,4,116);"/>
                </g>
                <g transform="matrix(1,0,0,1,16.741,-1239.73)">
                    <path d="M1721.06,1603.57L2001.98,1832.3C1998.23,1835.14 1995.18,1838.86 1993.14,1843.15L1710.97,1613.4C1715.08,1610.99 1718.54,1607.6 1721.06,1603.57Z" style="fill:rgb(75,4,116);"/>
                </g>
                <g transform="matrix(1,0,0,1,16.741,-1239.73)">
                    <path d="M1993.55,1869.3C1995.73,1873.53 1998.91,1877.17 2002.77,1879.9L1560.39,2201.31L1560.39,2184L1993.55,1869.3ZM1867.84,1355.25L2020.91,1826.35C2020.53,1826.33 2020.15,1826.33 2019.77,1826.33C2015.24,1826.33 2010.94,1827.35 2007.11,1829.18L1854.9,1360.74C1859.7,1359.97 1864.11,1358.04 1867.84,1355.25ZM1667.13,1582.09C1666.75,1583.99 1666.54,1585.97 1666.54,1587.99C1666.54,1590.79 1666.93,1593.51 1667.67,1596.09L1560.39,1596.09L1560.39,1582.09L1667.13,1582.09ZM1825.71,1348.07C1828.4,1352.07 1832.05,1355.38 1836.33,1357.66L1715.92,1566.22C1712.47,1563.08 1708.28,1560.73 1703.64,1559.49L1825.71,1348.07Z" style="fill:rgb(75,4,116);"/>
                </g>
                <g transform="matrix(1.47433,0,0,1.47433,-777.763,-2263.86)">
                    <path d="M1689.26,1751.73C1700.3,1751.73 1709.26,1760.69 1709.26,1771.73C1709.26,1782.77 1700.3,1791.73 1689.26,1791.73C1678.22,1791.73 1669.26,1782.77 1669.26,1771.73C1669.26,1760.69 1678.22,1751.73 1689.26,1751.73ZM1689.26,1761.22C1695.06,1761.22 1699.76,1765.93 1699.76,1771.73C1699.76,1777.52 1695.06,1782.23 1689.26,1782.23C1683.46,1782.23 1678.76,1777.52 1678.76,1771.73C1678.76,1765.93 1683.46,1761.22 1689.26,1761.22Z" style="fill:rgb(75,4,116);"/>
                </g>
                <g transform="matrix(1.47433,0,0,1.47433,-623.605,-2520.21)">
                    <path d="M1689.26,1751.73C1700.3,1751.73 1709.26,1760.69 1709.26,1771.73C1709.26,1782.77 1700.3,1791.73 1689.26,1791.73C1678.22,1791.73 1669.26,1782.77 1669.26,1771.73C1669.26,1760.69 1678.22,1751.73 1689.26,1751.73ZM1689.26,1761.22C1695.06,1761.22 1699.76,1765.93 1699.76,1771.73C1699.76,1777.52 1695.06,1782.23 1689.26,1782.23C1683.46,1782.23 1678.76,1777.52 1678.76,1771.73C1678.76,1765.93 1683.46,1761.22 1689.26,1761.22Z" style="fill:rgb(75,4,116);"/>
                </g>
                <g transform="matrix(1.47433,0,0,1.47433,-454.019,-1996.03)">
                    <path d="M1689.26,1751.73C1700.3,1751.73 1709.26,1760.69 1709.26,1771.73C1709.26,1782.77 1700.3,1791.73 1689.26,1791.73C1678.22,1791.73 1669.26,1782.77 1669.26,1771.73C1669.26,1760.69 1678.22,1751.73 1689.26,1751.73ZM1689.26,1761.22C1695.06,1761.22 1699.76,1765.93 1699.76,1771.73C1699.76,1777.52 1695.06,1782.23 1689.26,1782.23C1683.46,1782.23 1678.76,1777.52 1678.76,1771.73C1678.76,1765.93 1683.46,1761.22 1689.26,1761.22Z" style="fill:rgb(75,4,116);"/>
                </g>
            </g>
            <g transform="matrix(1.47433,0,0,1.47433,-724.686,-2140.01)">
                <path d="M1561.26,1683.73L1635.1,1915.45L1561.26,1931.73L1241.7,1871.56L1472.95,1683.73L1561.26,1683.73Z" style="fill:url(#_Linear1);"/>
            </g>
        </g>
    </g>
    <defs>
        <linearGradient id="_Linear1" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-81.3927,244.178,-244.178,-81.3927,1545.57,1671.27)"><stop offset="0" style="stop-color:white;stop-opacity:0.3"/><stop offset="1" style="stop-color:white;stop-opacity:0.08"/></linearGradient>
    </defs>
</svg>
veCATor
        </div>
        <nav>
            <ul>
                <li><a href="#" id="help-button">帮助</a></li>
            </ul>
        </nav>
    </header>
    <div id="help">
        <img src="/static/help.jpg" alt="help">
        <div id="help-nav">
        <a href="https://github.com/CATxPAPA/veCATor" target="_blank">关于VeCATor</a>
        <a href="#" id="close-help">关闭</a>
    </div>
    </div>
    <div class="upload-area" id="upload-area">
         <h2>批量图片转矢量(svg)</h2>
        <label for="file-input">选择图片</label>
        <input type="file" id="file-input" accept="image/jpeg,image/png" multiple>
        <p>或拖拽图片到此处，支持粘贴剪贴板中的图片</p>
    </div>
     <form id="vtracer-form" class="vtracer-params">
        <div class="form-group" style="display:flex; flex-direction: row;">
            <button type="button" class="template-button active" data-template="default">默认参数</button>
            <button type="button" class="template-button"  data-template="template1">干净标志</button>
            <button type="button" class="template-button"  data-template="template2">黑白剪影</button>
            <button type="button" class="template-button" data-template="template3">超精插画(慢)</button>
            <button type="button" class="template-button" data-template="template4">印象派</button>
            <button type="button" id="toggle-advanced" class="">高级设置</button>
        </div>
        <div id="advanced-params" style="display:none">
              <div class="form-group">
            <label>色彩模式</label>
            <div class="radio-group" id="colormode-group">
               <input type="radio" id="colormode-color" name="colormode" value="color" checked>
               <label for="colormode-color">彩色</label>
               <input type="radio" id="colormode-binary" name="colormode" value="binary">
                <label for="colormode-binary">黑白</label>
             </div>
        </div>
        <div class="form-group">
           <label>层级模式</label>
           <div class="radio-group"  id="hierarchical-group">
               <input type="radio" id="hierarchical-stacked" name="hierarchical" value="stacked" checked>
               <label for="hierarchical-stacked">堆叠</label>
               <input type="radio" id="hierarchical-cutout" name="hierarchical" value="cutout">
               <label for="hierarchical-cutout">剪切</label>
           </div>
       </div>
         <div class="form-group">
            <label>路径模式</label>
             <div class="radio-group" id="mode-group">
               <input type="radio" id="mode-spline" name="mode" value="spline" checked>
               <label for="mode-spline">样条</label>
                <input type="radio" id="mode-polygon" name="mode" value="polygon">
               <label for="mode-polygon">多边形</label>
                 <input type="radio" id="mode-none" name="mode" value="none">
               <label for="mode-none">像素</label>
            </div>
        </div>
        <div class="break"></div>
         <div class="form-group">
            <label for="filter_speckle">降噪过滤<span>(更干净)</span></label>
           <input type="number" id="filter_speckle" name="filter_speckle" value="4" min="0" max="128" style="display:none">
            <input type="text" class="knob" data-min="0" data-max="128" data-width="80" data-height="80" data-fgColor="#4B0474" data-linecap=round data-displayPrevious=true data-thickness=".5" data-input="filter_speckle" value="4" style="width:60px;">
        </div>

        <div class="form-group hide_in_binary" id="color_precision_group">
           <label for="color_precision">色彩精度<span>(更多彩)</span></label>
          <input type="number" id="color_precision" name="color_precision" value="6" min="1" max="8" style="display:none">
           <input type="text" class="knob" data-min="1" data-max="8" data-width="80" data-height="80" data-fgColor="#4B0474" data-linecap=round data-displayPrevious=true data-thickness=".5" data-input="color_precision" value="6" style="width:60px">
        </div>

        <div class="form-group hide_in_binary" id="layer_difference_group">
            <label for="layer_difference">渐变层级<span>(更少层)</span></label>
            <input type="number" id="layer_difference" name="layer_difference" value="16" min="0" max="128" style="display:none">
            <input type="text" class="knob" data-min="0" data-max="128" data-width="80" data-height="80" data-fgColor="#4B0474" data-linecap=round data-displayPrevious=true data-thickness=".5" data-input="layer_difference" value="16" style="width:60px">
        </div>


        <div class="form-group show_only_in_spline">
             <label for="corner_threshold">拐角阈值<span>(更平滑)</span></label>
             <input type="number" id="corner_threshold" name="corner_threshold" value="60" min="0" max="180" style="display:none">
             <input type="text" class="knob" data-min="0" data-max="180" data-width="80" data-height="80" data-fgColor="#4B0474" data-linecap=round data-displayPrevious=true data-thickness=".5" data-input="corner_threshold" value="60" style="width:60px">
        </div>
       <div class="form-group show_only_in_spline">
           <label for="length_threshold">线段长度<span>(更粗糙)</span></label>
           <input type="number" id="length_threshold" name="length_threshold" value="4.0" step="0.1" min="3.5" max="10" style="display:none">
            <input type="text" class="knob" data-min="3.5" data-max="10" data-width="80" data-height="80" data-step="0.1" data-fgColor="#4B0474" data-linecap=round data-displayPrevious=true data-thickness=".5" data-input="length_threshold" value="4.0" style="width:60px">
       </div>

        <div class="form-group" style="display: none">
              <label for="max_iterations">迭代次数<span>(区别不大暂隐藏)</span></label>
            <input type="number" id="max_iterations" name="max_iterations" value="10" min="1" max="20" style="display:none">
              <input type="text" class="knob" data-min="1" data-max="20" data-width="80" data-height="80" data-fgColor="#4B0474" data-linecap=round data-displayPrevious=true data-thickness=".5"  data-input="max_iterations"  value="10" style="width:60px">
       </div>
         <div class="form-group show_only_in_spline">
           <label for="splice_threshold">拼接阈值<span>(更走形)</span></label>
           <input type="number" id="splice_threshold" name="splice_threshold" value="45" min="1" max="180"  style="display:none">
          <input type="text" class="knob" data-min="1" data-max="180" data-width="80" data-height="80" data-fgColor="#4B0474" data-linecap=round data-displayPrevious=true data-thickness=".5" data-input="splice_threshold"  value="45" style="width:60px">
       </div>
        <div class="form-group show_only_in_spline">
          <label for="path_precision">路径精度<span>(更精细)</span></label>
         <input type="number" id="path_precision" name="path_precision" value="3" min="0" max="8" style="display:none">
         <input type="text" class="knob" data-min="0" data-max="8" data-width="80" data-height="80" data-fgColor="#4B0474" data-linecap=round data-displayPrevious=true data-thickness=".5" data-input="path_precision" value="3" style="width:60px">
      </div>
        </div>
    </form>
    <div class="action-buttons">
        <p id="description">* 上传的图片会自动按照当前参数设定自动转换<br>* 复杂的图片会转换较慢，请耐心等待</p>
        <div id="button-group">
            <button id="download-all">全部下载</button>
            <button id="clear-list">清空列表</button>
        </div>
    </div>
    <ul id="preview-list"></ul>
     <script src="/static/js/jquery.knob.min.js"></script>
    <script src="/static/upload.js"></script>
    <script src="/static/convert.js"></script>
      <script src="/static/init.js"></script>
</body>
</html>